.App {
  display: flex;
  padding-top: 30px;
  justify-content: center;
}
form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
label {
  display: flex;
  margin-bottom: 5px;
  font-weight: 800;
  padding: 10px;
}

input + label {
  font-weight: bold;
  display: inline-flex;
  margin-right: 20px;
  margin-left: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="phoneNumber"] {
  width: 400px;
  padding: 6px 12px;
  display: block;
  background-color: #fff;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control select {
  width: 400px;
  padding: 6px 12px;
  display: block;
  background-color: #fff;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control {
  margin-bottom: 20px;
}
button {
  padding: 10px 15px;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
}
.error {
  margin-top: 10px;
  color: rgb(243, 83, 83);
}
.disabeled-btn {
  cursor: not-allowed;
  opacity: 0.8;
}
.mess-box {
  background-color: rgb(79, 245, 126);
  border-radius: 8px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  font-size: larger;
}
